h1 hello

ul
  li Twitter: @conoro
  li GMail/GTalk: cwjoneill AT gmail DOT com
  li Skype: cwjoneill
  li LinkedIn: conoroneill
  li Weibo: conoro
  li Identi.ca: conoro
  li Delicious: conoro
  li SIP: 076-307798
  li App.net: conor
  li Google+: 96732097401298479000 (or something like that. I see G+ decided to skip 20 years of web progress and imitate Compuserve)
  li Mobile: Don’t bother, I live in West Cork

p
  Or best of all, leave a comment :-)